body {
  background: #0000FF;
  position: absolute;
}

button:focus, input:focus {
  outline:0;
}


#tipBox {
  background: #CCCCCC;
  height: 140px;
  width: 522px;
  margin-left: 25%;
  margin-top: 5%;
  border-top: 5px solid #777777;
  border-right: 5px solid #EEEEEE;
  border-bottom: 5px solid #F3F3F3;
  border-left: 5px solid #777777; 
}

#loser {
   margin-left: 5px;
}

.box.flagged {
  background-image: url("https://image.ibb.co/k3SNBL/flag.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.box.question_mark {
  background-image: url("https://image.ibb.co/jRUfJ0/questionmark.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center; 
}

#cheatTable {
  margin-left: 13px;
  margin-top: -8px;
  font-family: tahoma;
  font-size: 18px;
}

.cheat {
  background: #CCCCCC;
  width: 241px;
  height: 35px;
  border-top: 5px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
  border-right: 5px solid #777777;
  border-bottom: 5px solid #777777;
  
}

#tipText {
  border-top: 5px solid #777777;
  border-bottom: 5px solid #EEEEEE;
  border-right: 5px solid #F3F3F3;
  border-left: 5px solid #777777;
  width: 482px;
  height: 50px;
  margin: 14px auto;
  font-family: tahoma;
  text-align: center;
  font-size: 28px;
  padding-top: 15px;
}

#minesweeper {
  margin-top: 4%;
  margin-left: 25%;;
  border-top: 5px solid #777777;
  border-right: 5px solid #EEEEEE;
  border-bottom: 5px solid #F3F3F3;
  border-left: 5px solid #777777;
  width: 522px;

}

.box {
  background: #CCCCCC;
  width: 52px;
  height: 52.6px;
  border-top: 5px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
  border-right: 5px solid #777777;
  border-bottom: 5px solid #777777;
  display: block;
  margin: -0.2px -1.7px;

}

.boxAfter {
  visibility: hidden;
}

.sweepBoard {
  background-image: url("https://image.ibb.co/gz4Xkd/grid2.jpg"); 
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-top: 7px solid #777777;
  border-right: 7px solid #EEEEEE;
  border-bottom: 7px solid #EEEEEE;
  border-left: 7px solid #777777;
  margin-top: 20px;
}

 .boardBox {
  background: #CCCCCC;
  border: 20px solid #CCCCCC;
  width: 484px;

}

.scoreKeeper {
  background: #CCCCCC;
  border-top: 5px solid #777777;
  border-right: 5px solid #EEEEEE;
  border-bottom: 5px solid #F3F3F3;
  border-left: 5px solid #777777;
  height: 100px;
   
}

.mineRemainder {
  background-color: #000000;
  height: 75px;
  width:  140px;
  margin-left: 13px;
  margin-top: 11px;
  border-top: 2px solid #777777;
  border-right: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  border-left: 2px solid #777777;
  background-size: 29% 92%;
  background-size: 138px 74px;
  background-repeat: no-repeat;  
}

.digit_container {
  height: 100%;
  width: 30%;
  float: left;
  margin: 3px 2px 3px 0;
}

.left_digit.digit_container {
  margin-left: 7px;
}

img.digit_container {
  
}

.timer.digit_container {
  
}

.timer {
  background: #000000;
  height: 75px;
  width:  140px;
  margin-right: 13px;
  margin-top: -82px;
  margin-left: 319px;
  border-top: 2px solid #777777;
  border-right: 2px solid #EEEEEE;
  border-bottom: 2px solid #EEEEEE;
  border-left: 2px solid #777777;
/*    background-image: url("https://image.ibb.co/k3nSJy/timer.png");  */
  background-size: 138px 74px;
  background-repeat: no-repeat;
  float: left;
}

#smiley {
  height: 75px;
  width: 75px;
  margin-left: 185px;
  margin-top: -81px;
  box-shadow: -2px -2px #777777;
  border-top: 5px solid #FFFFFF;
  border-left: 5px solid #FFFFFF;
  border-right: 5px solid #777777;
  border-bottom: 5px solid #777777;
  background: #CCCCCC;
  background-image: url("https://image.ibb.co/dzwy8y/smiley01.png");
  background-size: 94%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
}

#circle {
  background: #F8F922;
  border-radius: 50%;
  height: 51px;
  width: 51px;
  margin: auto;
  float: left;
  border: 1px solid #000000;
}

#afraid {
  margin-left: 196px;
}